<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{heading}}!
  </h1>
</div>
<h2> Buses Data </h2>
<h4>{{ todayDate  | date:"MM/dd/yy"}}</h4>
<hr>
<ul>
  <div *ngFor="let info of data">
      <h2>{{ info.language }}</h2>
      <h1>{{ info.title }}</h1>
      <h2>{{ info.language }}</h2>
      <h3>{{ info.style }}</h3>
      <h4>{{ info.owner }}</h4>
      <p>{{ info.code }}</p>
      <h4>{{ info.highlight }}</h4>
  </div>
</ul>
